<div class="row justify-content-center">
    <div class="col-4 justify-content-center" style="margin-top: 10vh;">
      <form [formGroup]="registerForm" (ngSubmit)="updateUser()">
        <h2 class="text-center text-primary">Update user information!</h2>
        <hr>
      
        <div class="form-group">
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
            formControlName="email" placeholder="Email">
            <div class="invalid-feedback"
              *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
                Email is required!
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control"
              formControlName="firstName" placeholder="First Name">
        </div>

        <div class="form-group">
        <input type="text" class="form-control"
            formControlName="lastName" placeholder="Last Name">
        </div>
      
        <div class="form-group">
          <input type="password" class="form-control"
            formControlName="password" placeholder="Password">
        </div>
      
        <div class="form-group">
          <button class="btn btn-success mr-2" [disabled]="!registerForm.valid" type="submit">Update User</button>
          <a class="btn btn-warning"  routerLink="/user-list">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  
    
    
    
  